.swipe-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.list-container {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh; 
    top: 0%;
    left: 30%;
    transform: translate(-25%, -100%);
    z-index: 1;
}